# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore temporary files created by IDEs
.vscode/
.idea/

# Ignore npm-debug.log or yarn-error.log
npm-debug.log*
yarn-error.log*

# Ignore build directories
dist/
build/
